.reviews{
    padding: 8rem;
}
.reviews .slider .slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 10rem;
}
.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;    
}
.reviews .slider .slide p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
.reviews .slider .slide span{
    font-size: 0.8rem;
}
.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex !important;
    justify-content: center;
}
.reviews .slider-dots{
    margin-top: 3rem;
}
.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}