.container {
    height: 100vh;
}

.msgDiv {
    height: 60vh;
    overflow-y: scroll;
}

.enterMsgDiv {
    height: 20vh;
}

.message {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.incoming {
    background: #8F8BE8;
    color: #fff;
    margin-right: 2rem;
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: 2rem;
}
.img_blank{
    margin: 0 auto;
    display: block;
}